* {
  font-family: "Roboto", Arial, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
}

ul {
  display: flex;
  list-style: none;
  width: 18%;
  padding-left: 0%;
  justify-content: space-between;
  font-size: 80%;
}
/*bodypart*/

a {
  text-decoration: none;
  color: #747474;
}
#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 15% 5% 15%;
  font-weight: 400;
}
#parag {
  display: flex;
  color: #747474;
  font-size: 15px;
  font-weight: 600;
}
.tit {
  font-size: 2.125rem;
  color: #00b39b;
  width: 120%;
  text-align: center;
}
/*for who*/
.forwho {
  display: flex;
  margin: 5% 12% 5% 12%;
}
.block {
  padding: 2% 2% 2% 2%;
  margin: 0% 2% 0% 2%;
  border-radius: 4% 4% 4% 4%;
  align-items: center;
}
.block div {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*we are global*/

/*improove part*/
.impr {
  text-align: center;
}
.impr h1 {
  color: #00b39b;
  font-weight: 600;
  margin: 0% 35% 0% 35%;
}
.impr p {
  color: #747474;
  margin: 2% 30% 5% 30%;
  font-size: 80%;
  font-weight: bold;
}

/*countries part*/
.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2% 9% 2% 9%;
}
.country {
  margin-bottom: 2%;
  border-radius: 2%;
}
.country div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4%;
  color: #747474;
}
.country img {
  border-top-right-radius: 2%;
  border-top-left-radius: 2%;
}
.country div button {
  color: white;
  background-color: #3d83df;
  border: white;
  padding: 2% 2% 2% 2%;
  height: 10%;
  font-size: 70%;
  border-radius: 5px;
  font-weight: bold;
}
.country:hover {
  box-shadow: 0px 0px 5px 0px;
  cursor: pointer;
}
.prefooter {
  text-align: center;
}
.prefooter p {
  font-size: 200%;
}
.prefooter button {
  color: white;
  background-color: #3d83df;
  padding: 1% 1% 1% 1%;
  border: white;
  font-size: 70%;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 5%;
}

.hrr {
  color: darkgrey;
}
/*ffoter part*/
.foot {
  text-align: center;
  font-size: 70%;
  font-weight: bolder;
  color: #747474;
}
.foot a {
  color: #3d83df;
}
